@media only screen and (max-width: 730px) {
    .main {  display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 0.5fr 0.5fr 0.5fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "imagenbloque imagenbloque imagenbloque"
          "intro intro intro"
          "articulo1 articulo1 articulo1"
          "articulo2 articulo2 articulo2"
          "articulo3 articulo3 articulo3";
        background-image: url(../imagenes/fondo-main1.jpg); 
        
    }
      
      .imagenbloque { grid-area: imagenbloque; }
      
      .intro { grid-area: intro; }
      
      .articulo1 { grid-area: articulo1; }
      
      .articulo2 { grid-area: articulo2; }
      
      .articulo3 { grid-area: articulo3; }
    
      .intro{
        max-width: 350px;
        
        .primerparrafo {
            font-size: 10px;
          }
        .Titulomain {
            font-size: 50px;
            text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.658)
        }
        .imagenbloque {
            margin-bottom: 5px;
            padding-top: 150px;
            display: flex;
            justify-content: flex-end;
        }
        .subtitulomain0 {
            font-size: 20px;
        }
    } 
    .articulo1,
    .articulo2,
    .articulo3 {
        font-size: 10px;
        .textoar {
            font-size: 10px;
            max-width: 400px;
        }
        .iconoarticulos{
            height: 50px;
        }

      }  
      
      .mainhospedaje {  display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "titulohospedaje"
          "boxcasas1"
          "boxcasas2"
          "boxcasas3";
      }
      
      .titulohospedaje { grid-area: titulohospedaje; }
      
      .boxcasas1 { grid-area: boxcasas1; }
      
      .boxcasas2 { grid-area: boxcasas2; }
      
      .boxcasas3 { grid-area: boxcasas3; }
      
      .mainhospedaje {
        background-image: url(../imagenes/fondo-hospedajemedia.jpg);
        height: 100%;
      }
      .boxcasas1 img {
        
        background-image: url(../imagenes/casamedia1.png);

      }
      .imagencasa1-hover,
      .imagencasa2-hover,
      .imagencasa3-hover,
      .imagencasa1,
      .imagencasa2,
      .imagencasa3 {
        display: none;
    }
      
    .imagencasa3-hover-small,
    .imagencasa1-hover-small,
    .imagencasa2-hover-small {
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 15px;
        box-shadow: 0px 6px 12px #1f0202;
        display: block;
    }
      
    .boxcasas1:hover .imagencasa1-hover {
        display: none;
    }

    .boxcasas2:hover .imagencasa2-hover {
        display: none;
      }
      
    .boxcasas3:hover .imagencasa3-hover {
        display: none;
    }
    .pucara,
    .cabañas,
    .duplex {
        top: 210px;
        border-radius: 7px;
        background-color: #0e0e0ee0;
      }
    .boxcasas1:active {
        scale: 110%; 
      }
    .boxcasas2:active {
        scale: 110%; 
    }
    .boxcasas3:active {
        scale: 110%; 
    }     
    .mainsobre {  display: grid;
        grid-template-columns: 0.7fr 1.6fr 0.7fr;
        grid-template-rows: 0.4fr 1.3fr 1.3fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". nosotros ."
          ". datouno ."
          ". datodos .";
    }
      
    .nosotros { grid-area: nosotros; }
      
    .datouno {  display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1.4fr 0.5fr 1.1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". imagen1sobrenosotros1 ."
          ". titulosobrenosotros1 ."
          ". parrafosobrenosotos1 .";
        grid-area: datouno;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
      
    .imagen1sobrenosotros1 { grid-area: imagen1sobrenosotros1; }
      
    .titulosobrenosotros1 { grid-area: titulosobrenosotros1; }
      
    .parrafosobrenosotos1 { grid-area: parrafosobrenosotos1; }
      
    .datodos {  display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1.4fr 0.5fr 1.1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". imagen1sobrenosotros2 ."
          ". titulosobrenosotros2 ."
          ". parrafosobrenosotros2 .";
        grid-area: datodos;
    }
      
    .imagen1sobrenosotros2 { grid-area: imagen1sobrenosotros2; }
      
    .titulosobrenosotros2 { grid-area: titulosobrenosotros2; }
      
    .parrafosobrenosotros2 { grid-area: parrafosobrenosotros2; }
       
    .mainsobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center;
        .nosotros{
            padding-bottom: 30px;
            .marca {
                font-size: 50px;
            }
        }
        .datouno{
            padding-bottom: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
            .titulosobrenosotros1{
                text-align: center;
                padding-left: 0;
                padding-right: 0;
                font-size: 10px;
                .titulosobre{
                    font-size: 20px;
                }    
            } 
            .parrafosobrenosotos1{
                text-align: center;
                padding-left: 0;
                padding-right: 0;
                font-size: 10px;  
            }
            .imagen1sobrenosotros1{
                justify-content: center;
                .sobrenosotrosimg1{
                    max-width: 100%;
                }
            }
        }
        .datodos{
            padding-bottom: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
            .titulosobrenosotros2{
                text-align: center;
                padding-left: 0;
                padding-right: 0;
                font-size: 10px;
                .titulosobre{
                    font-size: 20px;
                }      
            }
            .parrafosobrenosotros2 {
                text-align: center;
                padding-left: 0;
                padding-right: 0;
                font-size: 10px;
            }
            .imagen1sobrenosotros1{
                justify-content: center;
                .sobrenosotrosimg1{
                    max-width: 100%;
                }
            }
            
        }
    }
    .mainaventura {  display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.4fr 2.1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "."
          "aventurainfo"
          "videosav";
        .aventurainfo {  display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 2.5fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "Titulomainav"
          "linkvideo"
          "subav"
          "parrafoaventura";
        grid-area: aventurainfo;
        padding-left: 0px;
        max-height: 60%;
        justify-items: center;
        
      }
      .linkvideo {
        justify-self: start;
        grid-area: linkvideo;
      }
      .parrafoaventura {
        justify-self: center;
        grid-area: parrafoaventura;
        max-height: 10%;
      }
      .videosav {  display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1.5fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "videosaventura1"
          "videosaventura2";
        grid-area: videosav;
        justify-self: center;
        max-height: 80%;
        align-self: start;
      }
      .videosaventura1 {
        
        grid-area: videosaventura1;
      }
      
      .videosaventura2 {
        
        grid-area: videosaventura2;
      }
    }
    
    .mainaventura{
        background-image: url(../imagenes/fondo-aventurasmedia.jpg);  
        height: 195vh;
        .Titulomainav {
            font-size: 40px;
            grid-area: Titulomainav;
            padding-top: 30px;
            
        }
        .subav {
            justify-self: center;
            grid-area: subav;
        }
    }  
    .maincont {
      height: auto;
      padding: 20px;
    }
  
    .maincont,
    .primercon,
    .segundocont {
      display: block;
      text-align: center;
    }
  
    .primercon,
    .segundocont {
      padding-left: 65px;
    }
    .maincont,
    .primercon,
    .segundocont,
    .Formulario,
    .formulario1,
    .titulocont,
    .parrafocon,
    .subcont1,
    .subparrafocont1,
    .subcont2,
    .subparrafocont2,
    .imagecontacto {
      width: 100%;
      max-width: 100%;
    }
  
    .maincont,
    .segundocont {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  
    .Formulario {
      width: 80%;
      margin: 0 auto;
      padding-bottom: 20px;
    }
  
    .imagecontacto img {
      max-width: 80%;
    }
    .segundocont{
      max-height: 130vh;
    }
}   


